@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}
:root {
    --color-primary-priceButton: #008b8b;
    --color-primary-background: #edebc8;
    --color-neutral-copy: #2e353d;
}
body {
    background-color: var(--color-primary-background) ;
}
main {
    border: 2px solid red;
    background-color: #ffffff;
    height: 400px;
    width: 600px;
    position: fixed;
    top: 20%;
    left: 50%;
}